# Outline
- What is a function?
- Familiar functions
- Common functions
- Python documentation

## Familiar functions

In [1]:
print("I can't wait to be a data scientist!")

I can't wait to be a data scientist!

In [2]:
type(False)

bool

In [3]:
str(4)

'4'

In [19]:
my_list = [-1,1,5,3,4]
del(my_list[2])
print(my_list)

[-1, 1, 3, 4]

## Common functions

In [14]:
max(my_list)

5

In [17]:
max("bb","ba")

'bb'

In [29]:
min("bb","ba")

'ba'

In [20]:
min(my_list)

-1

In [21]:
sum(my_list)

7

In [30]:
sum("bb","ba")

TypeError: sum() can't sum strings [use ''.join(seq) instead]

In [28]:
#Absolute value
abs(-11)

11

In [31]:
abs("f")

TypeError: bad operand type for abs(): 'str'

In [23]:
round(1.623)

2

In [24]:
round(1.5)

2

In [34]:
round(1.44235,3)

1.442

In [33]:
round("b")

TypeError: type str doesn't define __round__ method

In [35]:
x = [1,2,3,-1]
result = map(abs,x)
print(list(result))

[1, 2, 3, 1]

In [36]:
#List1
college = ['Columbia', 'Stanford', 'Hunter', 'NYU']

#List2
accepted = [True, False, True, True]

#List of tuples, zip functions glues together elements from
#things like lists or tuples
list_of_tuples = list(zip(college,accepted))

print(list_of_tuples)

[('Columbia', True), ('Stanford', False), ('Hunter', True), ('NYU', True)]

In [37]:
#List1
college = ['Columbia', 'Stanford', 'Hunter', 'NYU']

#List2
accepted = [True, False, True, True, False, False]

#List of tuples, zip functions glues together elements from
#things like lists or tuples
list_of_tuples = list(zip(college,accepted))

print(list_of_tuples)

[('Columbia', True), ('Stanford', False), ('Hunter', True), ('NYU', True)]

## Python documentation
https://docs.python.org/3/library/functions.html